body {
  margin: 0, auto;
  background-color: forestgreen;
}

.container-content {
  display: flex;
  position: absolute;
  flex-direction: row;
  background-color: plum;
  border: 3px solid black;
}

.buttons-container {
  width: 120px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
}

p {
  margin-top: 5px;
  height: 5px;
  width: 120px;
  font-family: 'Chelsea Market', cursive;
}
#next {
  margin-bottom: 40px;
}

h3 {
  font-family: 'Chelsea Market', cursive;
}

span {
  margin-right: 15px;
}

.buttons {
  height: 40px;

  border-radius: 50%;
  background-color: steelblue;
  border-right: 1px solid black;
  border-top: 1px solid black;
  font-family: 'Chelsea Market', cursive;
  font-size: large;
}

button:hover {
  color: white;
}

button:focus {
  outline: none;
}

button:disabled {
  color: cornflowerblue;
}

.grid-setup {
  /*width: 300px;
  height: 300px; */
  display: flex;
  flex-wrap: wrap;
  background-color: gainsboro;
}

.show-next-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: gainsboro;
  border-radius: 20%;
  margin-left: 20px;
  margin-bottom: 10px;
}

.no-change-during-game {
  pointer-events: none;
}

.square {
  /*width: 20px;
  height: 20px;
  border: 0.01px solid black; */
}

.tetromino {
}

.taken {
}
